.btn-2 {
    user-select: none;
    margin-top: 2rem;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-right: 4rem;
    padding: 8px 20px;
    width: 160px;
    text-align: center;
    transition: ease-out all .2s;
}

.btn-2:hover {
    /* color: #fff;
    background-color: #1A1A1A; */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn-2:active {
    box-shadow: none;
    transform: translateY(0);
}

p {
    font-family: 'Comic Sans MS';
}

#check:checked~ul {
    display: block;

}